.main {
    background-color: green;
    height: 100%;
}


.title-container {
    height: 100% ;
    background-color: red;
}

.detail-container {
    height: 50%;
}



.title {
    color: mediumturquoise;
}

.subtitle {
   font-weight: bold;
}

.details {
    color: red;
}

